<%= form_for_filterrific @filterrific do |f| %>
  <div class="row">
    <div class="col-md-2">
      <div class="form-group">
        <label>Search</label>
        <%= f.text_field :search_query, class: 'filterrific-periodically-observed form-control' %>
      </div>
    </div>

    <div class="col-md-3">
      <div class="form-group">
        <label>Parent Categories</label>
        <%= f.select :with_parent, @filterrific.select_options[:with_parent], {include_blank: '- Any -'}, class: 'form-control' %>
      </div>
    </div>

    <div class="col-md-3">
      <div class="form-group">
        <label>Child Categories</label>
        <div id="child_categories_dropdown">
        	<%= render "child_categories_dropdown", f: f, child_categories: @filterrific.select_options[:with_child] %>
      	</div>
      </div>
    </div>

    <div class="col-md-2">
      <div class="form-group">
        <label>Sorted by</label>
        <%= f.select :sorted_by, @filterrific.select_options[:sorted_by], {}, class: 'form-control' %>
      </div>
    </div>

    <div class="col-md-2">
      <div class="form-group">
        <label>Commission Amount</label>
        <%= f.select :commision_amount_in, @filterrific.select_options[:commision_amount_in], {include_blank: '- Any -'}, class: 'form-control' %>
      </div>
    </div>

  </div>
<% end %>
