<div class="card card-body bg-light">
	<div class="row">
		<div class="col-md-6"><h5>Displaying all <strong><%= products.count %></strong> products.</h5></div>
		<div class="col-md-6">
	    <%= link_to "Reset filters", reset_filterrific_url, :class => 'btn btn-primary btn-sm float-right' %>
	  </div>
	</div>
</div>
<div class="row mt-5">
	<% products.each do |product| %>
		<div class="col-md-3 mt-1">
			<div class="card" style="width: 18rem;">
			  <div class="card-body">
			    <h6 class="card-title"><%= product.name %></h6>
			    <p class="card-title">$<%= product.price %></p>
			  </div>
			</div>
		</div>
	<% end %>
</div>