$("#child_categories_dropdown").html("<%= escape_javascript(render(partial: 'home/child_categories_dropdown', locals: {child_categories: @filterrific.select_options[:with_child]})) %>");
$("#results").html("<%= escape_javascript(render(partial: 'home/products', locals: {products: @products})) %>");