<br/><br/>
<div class="card card-body bg-light" id="filter_form">
  <%= render "form" %>
</div>

<div id="results">
  <%= render :partial => 'products', :locals => {:products => @products } %>
</div>
