<%= form_with(model: product, local: true) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>
      <ul>
        <% product.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group row">
    <div class="col-md-2">
      <%= form.label :name %>
    </div>
    <div class="col-md-6">
      <%= form.text_field :name, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-md-2">
      <%= form.label :price %>
    </div>
    <div class="col-md-6">
      <%= form.text_field :price, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-md-2">
      <%= form.label :primary_category_id %>
    </div>
    <div class="col-md-6">
      <%= form.select :primary_category_id, MarketplaceCategory.options_for_select, {include_blank: '- Any -'}, class: "form-control", id: "product_primary_category_id" %>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-md-2">
      <%= form.label :marketplace_category_id %>
    </div>
    <div class="col-md-6" id="child_categories_dropdown">
      <% if @primary_category.present? %>
        <%= form.select :marketplace_category_id, @primary_category.children.map{|mp| [mp.name, mp.id]}, {include_blank: '- Any -'}, class: "form-control" %>
      <% else %>
        <%= form.select :marketplace_category_id, [], {include_blank: '- Any -'}, class: "form-control" %>
      <% end %>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-md-2">
      <%= form.label :shop_id %>
    </div>
    <div class="col-md-6">
      <%= form.select :shop_id, Shop.options_for_select, {include_blank: '- Any -'}, class: "form-control" %>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-md-2">
    </div>
    <div class="col-md-6">
      <%= form.submit class: "btn btn-primary" %>
    </div>
  </div>

  <div class="actions">
  </div>
<% end %>

<script type="text/javascript">
  $("#product_primary_category_id").change(function(){
    var primary_category_id = $(this).val();
    $.getJSON("/products/new.js?filterrific[with_parent]="+primary_category_id+"&callback=?"); 
  })
</script>