<div class="jumbotron">
  <h1>Edit Product</h1>
  <div class="float-right">
    <%= link_to 'Show', @product, class: "btn btn-info" %>
    <%= link_to 'Back', products_path, class: "btn btn-info" %>
  </div>
</div>
<%= render 'form', product: @product %>