<p id="notice"><%= notice %></p>
<div class="jumbotron">
  <h1>Products</h1>
  <div class="float-right">
    <%= link_to 'New Product', new_product_path, class: "btn btn-info" %>
  </div>
</div>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Marketplace category</th>
      <th>Shop</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.price %></td>
        <td><%= product.marketplace_category_id %></td>
        <td><%= product.shop_id %></td>
        <td>
          <%= link_to 'Show', product %> | 
          <%= link_to 'Edit', edit_product_path(product) %> | 
          <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="digg_pagination">
  <div class="page_info">
    <%= page_entries_info @products %>
  </div>
  <%= will_paginate @products, container: false %>
</div>