<p id="notice"><%= notice %></p>
<div class="jumbotron">
  <h1>Product - <%= @product.name %></h1>
  <div class="float-right">
    <%= link_to 'Edit', edit_product_path(@product), class: "btn btn-info" %>
    <%= link_to 'Back', products_path, class: "btn btn-info" %>
  </div>
</div>
<table class="table">
  <tbody>
    <tr>
      <td><strong>Name:</strong></td>
      <td><%= @product.name %></td>
    </tr>
    <tr>
      <td><strong>Price:</strong></td>
      <td><%= @product.price %></td>
    </tr>
    <tr>
      <td><strong>Marketplace category:</strong></td>
      <td><%= @product.marketplace_category.name %></td>
    </tr>
    <tr>
      <td><strong>Shop:</strong></td>
      <td><%= @product.shop.name %></td>
    </tr>
  </tbody>
</table>