<%= form_with(model: supplier, local: true) do |form| %>
  <% if supplier.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(supplier.errors.count, "error") %> prohibited this supplier from being saved:</h2>
      <ul>
        <% supplier.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group row">
    <div class="col-md-2">
      <%= form.label :name %>
    </div>
    <div class="col-md-6">
      <%= form.text_field :name, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-md-2">
      <%= form.label :primary_category %>
    </div>
    <div class="col-md-6">
      <%= form.select :primary_category, MarketplaceCategory.roots.map{|mp| [mp.name, mp.name]}, {include_blank: '- Any -'}, class: "form-control", id: "supplier_primary_category" %>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-md-2">
      <%= form.label :secondary_category %>
    </div>
    <div class="col-md-6" id="child_categories_dropdown">
      <% if @primary_category.present? %>
        <%= form.select :secondary_category, @primary_category.children.map{|mp| [mp.name, mp.name]}, {include_blank: '- Any -'}, class: "form-control" %>
      <% else %>
        <%= form.select :secondary_category, [], {include_blank: '- Any -'}, class: "form-control" %>
      <% end %>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-md-2">
    </div>
    <div class="col-md-6">
      <%= form.submit class: "btn btn-primary" %>
    </div>
  </div>

  <div class="actions">
  </div>
<% end %>

<script type="text/javascript">
  $("#supplier_primary_category").change(function(){
    var primary_category = encodeURIComponent($(this).val());
    $.getJSON("/suppliers/new.js?filterrific[with_parent]="+primary_category+"&callback=?"); 
  })
</script>