<div class="jumbotron">
  <h1>Edit Supplier</h1>
  <div class="float-right">
    <%= link_to 'Show', @supplier, class: "btn btn-info" %>
    <%= link_to 'Back', suppliers_path, class: "btn btn-info" %>
  </div>
</div>
<%= render 'form', supplier: @supplier %>