<p id="notice"><%= notice %></p>
<div class="jumbotron">
  <h1>Suppliers</h1>
  <div class="float-right">
    <%= link_to 'New Supplier', new_supplier_path, class: "btn btn-info" %>
  </div>
</div>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Primary category</th>
      <th>Secondary category</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @suppliers.each do |supplier| %>
      <tr>
        <td><%= supplier.name %></td>
        <td><%= supplier.primary_category %></td>
        <td><%= supplier.secondary_category %></td>
        <td>
          <%= link_to 'Show', supplier %> | 
          <%= link_to 'Edit', edit_supplier_path(supplier) %> | 
          <%= link_to 'Destroy', supplier, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="digg_pagination">
  <div class="page_info">
    <%= page_entries_info @suppliers %>
  </div>
  <%= will_paginate @suppliers, container: false %>
</div>