<p id="notice"><%= notice %></p>
<div class="jumbotron">
  <h1>Supplier - <%= @supplier.name %></h1>
  <div class="float-right">
    <%= link_to 'Edit', edit_supplier_path(@supplier), class: "btn btn-info" %>
    <%= link_to 'Back', suppliers_path, class: "btn btn-info" %>
  </div>
</div>
<table class="table">
  <tbody>
    <tr>
      <td><strong>Name:</strong></td>
      <td><%= @supplier.name %></td>
    </tr>
    <tr>
      <td><strong>Primary Category:</strong></td>
      <td><%= @supplier.primary_category %></td>
    </tr>
    <tr>
      <td><strong>Secondary Category:</strong></td>
      <td><%= @supplier.secondary_category %></td>
    </tr>
  </tbody>
</table>